@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}
.w-threefourths{
    width:75%;
}
.font-extremebold{
    font-weight:900 ;
}
.parent:hover .parent-hover\:fill-accents{
    color: pink;
}
